
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<link href="/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="/main.js"></script>
	</head>
	<body>
		<header>
			<h1>Book Forum</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				{{#if authorised}}
					<li><a href="/logout">Log out</a></li>
				{{else}}
					<li><a href="/login">Log in</a></li>
				{{/if}}
				<li><a href="/register">Sign Up</a></li>
				{{#if authorised}}
            	<li><a href="/newForum">New Forum</a></li>
            	{{/if}}
			</ul>
		</nav>
		</header>
		<main>
			<article>
			{{#each forums}}
			<figure>
				<p> Name of the Forum: {{this.nameOfForum}}</p>
                <img src="./uploads/{{this.avatar}}">
				<p> Summary: {{this.summary}}</p><br>
				<p> Added: {{this.added}}</p><br>
			</figure>
			{{/each}}
			</article>
		</main>
	</body>
</html>